<section class="animate__animated animate__fadeIn">

<h1 class="header animate__animated animate__fadeIn">
    Contáctame
</h1>

<diV class="row pb-5 animate__animated animate__fadeIn">
    <div class="col">

        <section class="skills">
            <div class="form-item">
                <input type="text" placeholder="&nbsp;">
                <label for="example" data-label="Nombre"></label>
            </div>

            <div class="form-item">
                <input type="email" placeholder="&nbsp;">
                <label for="example" data-label="Correo"></label>
            </div>

            <div class="form-item">
                <input type="text" placeholder="&nbsp;">
                <label for="example" data-label="Telefono (opcional)"></label>
            </div>

            <div class="form-item">
                <input type="text" id="example" placeholder="&nbsp;">
                <label for="example" data-label="Mensaje"></label>
            </div>

            <div class="btn mb-5">
                <div class="btn-send">
                    Enviar
                </div>
            </div>



        </section>

    </div>




    <div class="col">




        <section class="skills">

            <div class="group">
                <p>
                    <i class="far fa-envelope-square mr-7 icon-social"></i>
                    <a href="mailto:julio.franco9111@gmail.com">
                        julio.franco9111@gmail.com
                    </a>
                </p>
            </div>

            <div class="group">
                <p>
                    <i class="fab fa-github mr-7 icon-social"></i>
                    <a href="https://github.com/juliofranco9111?tab=repositories">
                        juliofranco9111
                    </a>
                </p>
            </div>
            <div class="group">
                <p>
                    <i class="fab fa-whatsapp mr-7 icon-social"></i>
                    <a href="https://wa.me/5491125592459">
                        (+54) 9 11 25592459
                    </a>
                </p>
            </div>
            <div class="group">
                <p>
                    <i class="fab fa-linkedin mr-7 icon-social"></i>
                    <a href="https://www.linkedin.com/in/juliocesarfranco/">
                        juliocesarfranco
                    </a>
                </p>
            </div>
            <div class="group">
                <p>
                    <i class="fad fa-folder-tree mr-7 icon-social"></i>
                    <a href="https://linktr.ee/juliofranco9111">
                        Mis proyectos
                    </a>
                </p>
            </div>
        </section>


    </div>


    <!-- End of .skills -->
</diV>
<!-- End of .u-center -->

<div class="divider"></div>


</section>