<h1 class="header">Hola, soy Julio Franco</h1>

<p class="text-paragraph">
    Soy desarrollador de Javascript, actualmente residiendo en Buenos Aires (Argentina). Con fuerte interés por la tecnología y el desarrollo de sitios y aplicaciones web (SPA), principalmente inclinado hacia el front-end, y con conocimientos en full-stack
    y serverless.
</p>

<p class="text-paragraph">
    Apasionado por la estética y las interfaces amigables para el usuario. Un sitio o app web moderno, requiere de la combinación de un buen
    <strong>
        diseño
    </strong> y
    <strong>
        funcionalidad
        </strong> . Tengo las herramientas necesarias para desarrollar y diseñar aplicaciones funcionales priorizando el patrón
    <strong>
            mobile first
        </strong> sin dejar de lado la experiencia de usuario.
</p>

<p class="text-paragraph">
    Actualmente, me desempeño como agente de Help Desk para la empresa de software gastronómico
    <a href="https://fu.do/es-ar/">

        <strong>
            FUDO
        </strong>
    </a>
    brindando servicio al cliente mientras respondo preguntas, instalo software (y hardware) y soluciono problemas técnicos por teléfono, correo electrónico, chat y otros medios.
</p>

<div class="divider"></div>