<section class="animate__animated animate__fadeIn">



<h1 class="header">
    salva - administrá tus gastos
</h1>

<p class="languages">
    #Angular #TypeScript #Firebase #Bootstrap #GoogleAuth #Serverless
</p>

<p class="description">
    Ésta es una SPA realizada con Angular usando Firebase como backend, permite administrar y separar los ingresos y gastos mensuales por categorías además de ver el balance en tiempo real de los movimientos.
</p>

<h3 class="whatdo">¿QUE HICE?</h3>

<p class="description">
    Diseño de logo y nombre para el proyecto, CRUD completo por cada movimiento y categorías, instrucciones de uso integradas, login basado en el sistema de autenticación de Firebase (email y cuenta de Google). Diseño adaptable (responsive).
</p>

<div class="link">
    <a href="https://gastos-app-d4c8f.firebaseapp.com/#/register">
        <strong>Demo</strong></a> -
    <a href="https://github.com/juliofranco9111/gastosApp"><strong>Repositorio</strong></a>
</div>
<div class="divider"></div>

<!-- Another project -->

<h1 class="header">
    angular firechat
</h1>

<p class="languages">
    #Angular #Firebase #Sass #Serverless
</p>

<p class="description">
    Aplicación de chat utilizando Angular y la funcionalidad de <strong>CloudFirestore</strong> (Firebase) almacenamiento en tiempo real de los mensajes enviados.
</p>

<div class="link">
    <a href="https://firechat-f53a0.firebaseapp.com/">
        <strong>Demo</strong></a> -
    <a href="https://github.com/juliofranco9111/FirebaseChat"><strong>Repositorio</strong></a>
</div>

<div class="divider"></div>

<!-- Another project -->

<h1 class="header">
    todo list
</h1>

<p class="languages">
    #Angular #Ionic #Localstorage #AndroidStudio #CSS
</p>

<p class="description">
    Aplicación híbrida de listas de tareas usando el framework IONIC 5 y Android studio para la generación del APK.
</p>

<h3 class="whatdo">¿QUE HICE?</h3>

<p class="description">
    Aplicación ideada para el entorno android, en la que se utiliza el localStorage para almacenar la información de las tareas pendientes y completadas.
</p>

<div class="link">
    <a href="https://github.com/juliofranco9111/deseos"><strong>Repositorio</strong></a>
</div>

<div class="divider"></div>

<!-- Another project -->

<h1 class="header">
    hospitalesApp
</h1>

<p class="languages">
    #Angular #TypeScript #Node.js #Express #MongoDB #MEAN Stack #Rxjs #FullStack
</p>

<p class="description">
    Aplicación que incluye un dashboard para la administración de hospitales, médicos, usuarios y otras prácticas como inputs y outputs, guards, Rxjs - operators, observables, promesas, pipes, intefaces.
</p>

<p class="description">
    Incluye además un CRUD completo en una API Rest construída desde cero usando el MEAN Stack (MongoDB, Express, Node.js, Angular).
</p>

<div class="link">

    <a href="https://github.com/juliofranco9111/mean-server-angAdv"><strong>REST Server</strong></a> -
    <a href="https://github.com/juliofranco9111/hospitalesAngular"><strong>Repositorio</strong></a>
</div>
<div class="divider"></div>

<!-- Another project -->


<h1 class="header">
    socketIO Chat
</h1>

<p class="languages">
    #Node.js #SocketIO #HTML #CSS
</p>

<p class="description">
    Aplicación de chat realizada con Node.js sockets, con aviso de conexión y desconexión de los usuarios y broadcasting de mensajes desde el servidor, desplegada en Heroku.
</p>

<div class="link">
    <a href="https://michat-nodejs.herokuapp.com/">
        <strong>Demo</strong></a>

</div>

<div class="divider"></div>

<!-- Another project -->

<h1 class="header">
    natura travel
</h1>

<p class="languages">
    #HTML #CSS #Bootstrap
</p>

<p class="description">
    Maquetación de práctica para curso de diseño UI en educaciónIT, he desarrollado el logo de la marca (ficticia) su paleta de colores y un sitio web estático.
</p>

<div class="link">
    <a href="https://juliofranco9111.github.io/maquetacionNatura/#">
        <strong>Demo</strong></a>

</div>

<div class="divider"></div>

<h1 class="header">
    Link a los demás proyectos:
</h1>
<p class="languages">
    #Node.js #Rest API #HTML #CSS #Angular
</p>

<div class="link">
    <a href="https://juliofranco9111.github.io/maquetacionNatura/#">
        <strong>Linktree</strong>
    </a> -
    <a href="https://github.com/juliofranco9111?tab=repositories">
        <strong>GitHub</strong>
    </a>

</div>

<div class="divider" style="margin-bottom:50px"></div>


</section>