<div>    
    <div class="col" id="logo">
        JF
    </div>
    <div>
        <app-nav-bar-mobile></app-nav-bar-mobile>
    </div>
    
    
    <nav id="nav-large" class="col-9 ml-5">
        <ul class="d-flex">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="acerca">
                    acerca
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="habilidades">
                    habilidades
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="proyectos">
                    proyectos
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="contacto">
                    contacto
                </a>
            </li>
        </ul>
    </nav>

    

    
</div>