<div class="row d-flex">
    <!-- <div class="col green">a</div>
    <div class="col red">a</div>
    <div class="col blue">a</div>
    <div class="col green"></div>
    <div class="col red">s</div>
    <div class="col blue">s</div> -->
    <div id="logo">
        JF
    </div>
    <nav class="col-9 ml-5">
        <ul class="d-flex">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="acerca">
                    acerca
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="habilidades">
                    habilidades
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="proyectos">
                    proyectos
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="contacto">
                    contacto
                </a>
            </li>
        </ul>
    </nav>
</div>