<h1 class="header animate__animated animate__fadeIn">
    Mis habilidades
</h1>




<div class="row pb-5 animate__animated animate__fadeIn">
    <div class="col">

        <h2 class="subheader">
            Hard
        </h2>
        <section class="skills">
            <div class="skill">
                <h3 class="skill__type">ANGULAR</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--90"></div>
                </div>
            </div>
            <!-- End of .skill -->
            <div class="skill">
                <h3 class="skill__type">JS / TYPESCRIPT</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--80"></div>
                </div>
            </div>
            <!-- End of .skill -->
            <div class="skill">
                <h3 class="skill__type">HTML/CSS</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--90"></div>
                </div>
            </div>
            <!-- End of .skill -->
            <div class="skill">
                <h3 class="skill__type">Node.js</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--70"></div>
                </div>
            </div>
            <!-- End of .skill -->

        </section>


    </div>

    <div class="col">

        <h2 class="subheader">
            Soft
        </h2>


        <section class="skills">
            <div class="skill">
                <h3 class="skill__type">Trabajo en equipo</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--90"></div>
                </div>
            </div>
            <!-- End of .skill -->

            <div class="skill">
                <h3 class="skill__type">Home office</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--100"></div>
                </div>
            </div>
            <!-- End of .skill -->
            <div class="skill">
                <h3 class="skill__type">Ingles</h3>
                <div class="skill__outer-bar">
                    <div class="skill__inner-bar skill__inner-bar--70"></div>
                </div>
            </div>
            <!-- End of .skill -->
            <br>


            <h2 class="subheader">
                Otros:
            </h2>

            <div id="list-skills">
                <h3 class="skill__type">Ionic</h3>
                <h3 class="skill__type">React</h3>
                <h3 class="skill__type">Sass</h3>
                <h3 class="skill__type">Git</h3>
                <h3 class="skill__type">MongoDB</h3>
                <h3 class="skill__type">Firebase</h3>
            </div>
        </section>


    </div>


    <!-- End of .skills -->
</div>
<!-- End of .u-center -->

<div class="divider animate__animated animate__fadeIn"></div>