<nav id="mini-nav" class="animate__animated animate__fadeIn">
    <ul class="navbar-mobile">
        <li class="nav-item-mini" routerLinkActive="active-mini">
            <a routerLink="acerca">
                acerca
            </a>
        </li>
        <li class="nav-item-mini" routerLinkActive="active-mini">
            <a routerLink="habilidades" (click)="closeNav()">
                habilidades
            </a>
        </li>
        <li class="nav-item-mini" routerLinkActive="active-mini">
            <a routerLink="proyectos" (click)="closeNav()">
                proyectos
            </a>
        </li>
        <li class="nav-item-mini" routerLinkActive="active-mini">
            <a routerLink="contacto" (click)="closeNav()">
                contacto
            </a>
        </li>
    </ul>
</nav>