/* You can add global styles to this file, and also import other style files */

:root {
	--secondary: #f7f1e3;
	--primary: #f7f1e3;
	--bg-color: #2c3e50;
	--secondary2: #34495e;
	--third: #f39c12;
}

@font-face {
	font-family: "serif";
	src: url(assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "open-regular";
	src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: "open-lite";
	src: url(assets/fonts/Open_Sans/OpenSans-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: "open-bold";
	src: url(assets/fonts/Open_Sans/OpenSans-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: "ubuntu";
	src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
	font-weight: 600;
}

@font-face {
	font-family: "ubuntu-bold";
	src: url(assets/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf);
	font-weight: 600;
}

body {
	padding: 0px;
	margin: 0px;
	background-color: var(--bg-color);
	color: var(--primary);
	font-family: open-regular;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--primary);
}

/* Margins and paddings */

.pt-5 {
	padding-top: 60px;
}

.mr-5 {
	margin-right: 10px;
}

.ml-5 {
	margin-left: 10px;
}

.main-cont {
	z-index: 0;
	margin: 10px auto;
	width: 100%;
	min-height: 99vh;
	background-color: var(--bg-color);
	padding-bottom: 100px;
	border-radius: 5px;
}

/* NAVBAR */

#logo {
	background-color: var(--third);
	text-align: center;
	vertical-align: middle;
	font-family: "serif";
	font-weight: 800;
	border-radius: 0px 0px 8px 8px;
	font-size: 40px;
	line-height: 80px;
	width: 65px;
	height: 90px;
	color: var(--bg-color);
}

.nav-item {
	cursor: pointer;
	margin: 10px;
	list-style: none;
	text-align: center;
}

.nav-item a {
	cursor: pointer;
	text-decoration: none;
	font-size: 25px;
	color: var(--primary);
	margin: 10px;
	list-style: none;
	text-align: center;
	position: relative;
	transition: all 300ms;
}

.nav-item-mini {
	cursor: pointer;
	margin: 10px;
	list-style: none;
	text-align: center;
}

.nav-item-mini a {
	cursor: pointer;
	text-decoration: none;
	font-size: 25px;
	color: var(--primary);
	margin: 10px;
	list-style: none;
	text-align: center;
	position: relative;
	transition: all 300ms;
}

.nav-item-mini a:hover {
	color: var(--third);
}

.none{
	display: none;
}

.active {
	border-bottom: 3px solid var(--third);
}

.active-mini a{
	color: var(--third);
}

footer {
	position: fixed;
	overflow: hidden;
}

#nav-large {
	display: none;
}

/* HEADER */

.header {
	font-family: "serif";
	display: block;
	margin-top: 50px;
	margin-bottom: 0px;
	font-weight: 100;
	font-size: 5rem;
}

.subheader {
	font-family: "serif";
	display: block;
	font-weight: 100;
	font-size: 40px;
	margin-bottom: 12px;
}

/* TEXT */

.text-paragraph {
	font-family: "open-regular";
	font-size: 30px;
}

.divider {
	width: 250px;
	height: 5px;
	background-color: var(--primary);
}

strong {
	font-weight: 400;
	text-decoration: underline var(--third);
	text-decoration-thickness: 4px;
	font-style: italic;
	margin-right: 5px;
	color: var(--secondary);
}

/* SKILLS */

.skills {
	align-self: center;
	display: flex;
	flex-direction: column;
}

.skill {
	margin: 1em 0;
	position: relative;
	width: 80%;
}

.skill__type {
	color: var(--primary);
	font-family: "open-regular";
	font-weight: 300;
	font-size: 1rem;
	letter-spacing: 0.145em;
	text-transform: uppercase;
}

.skill__outer-bar,
.skill__inner-bar {
	height: 0.75em;
}

.skill__outer-bar {
	background: #333;
}

.skill__inner-bar {
	-webkit-animation: fillBar 1s forwards;
	animation: fillBar 1s forwards;
	background: var(--primary);
	left: 5em;
	transform: scaleX(0);
	transform-origin: 0 0;
}

.skill__inner-bar--100 {
	width: 100%;
}

.skill__inner-bar--90 {
	width: 90%;
}

.skill__inner-bar--80 {
	width: 80%;
}

.skill__inner-bar--70 {
	width: 70%;
}

@-webkit-keyframes fillBar {
	to {
		transform: scaleX(1);
	}
}

@keyframes fillBar {
	to {
		transform: scaleX(1);
	}
}

#list-skills {
	display: flex;
	justify-content: space-between;
}

/* WORKS */

.languages {
	color: var(--third);
	font-family: "ubuntu";
	font-size: 25px;
}

.description {
	font-family: "open-regular";
	font-size: 25px;
}

.link {
	font-size: 20px;
	display: block;
	text-align: end;
}

.whatdo {
	text-transform: uppercase;
	color: var(--third);
	width: 120px;
	font-weight: 100;
	font-size: 20px;
}

/* END WORKS */

/* CONTACT */

.form-item {
	position: relative;
	margin: 10px 0px;
	font-size: 20px;
}

/* START TEXT INPUT */

.form-item input[type=text] {
	display: block;
	width: 80%;
	height: 34px;
	font-size: 26px;
	margin-top: 10px;
	line-height: 1.4;
	color: var(--primary);
	background-color: transparent;
	background-image: none;
	border: none;
	border-bottom: 2px solid var(--primary);
	padding: 6px 12px 6px 0;
}

.form-item input[type=text]:focus,
.form-item input[type=text]:active {
	outline: none;
	box-shadow: none;
	color: var(--primary);
}

.form-item input[type=text]:focus ~ label:before {
	font-size: 12px;
	bottom: 40px;
	color: var(--primary);
}

.form-item input[type=text]:focus ~ label:after {
	background-repeat: no-repeat;
	background-size: 1000% 1000%;
	background-image: radial-gradient(circle, var(--third) 10%, rgba(0, 0, 0, 0) 11%) !important;
	width: 82%;
}

.form-item input[type=text]:not(:placeholder-shown) ~ label:before {
	font-size: 12px;
	bottom: 44px;
	color: var(--third);
}

/* END TEXT INPUT */

/* START EMAIL INPUT */

.form-item input[type=email] {
	display: block;
	width: 80%;
	height: 34px;
	font-size: 26px;
	margin-top: 10px;
	line-height: 1.4;
	color: var(--primary);
	background-color: transparent;
	background-image: none;
	border: none;
	border-bottom: 2px solid var(--primary);
	padding: 6px 12px 6px 0;
}

.form-item input[type=email]:focus,
.form-item input[type=email]:active {
	outline: none;
	box-shadow: none;
	color: var(--primary);
}

.form-item input[type=email]:focus ~ label:before {
	font-size: 12px;
	bottom: 40px;
	color: var(--primary);
}

.form-item input[type=email]:focus ~ label:after {
	background-repeat: no-repeat;
	background-size: 1000% 1000%;
	background-image: radial-gradient(circle, var(--third) 10%, rgba(0, 0, 0, 0) 11%) !important;
	width: 82%;
}

.form-item input[type=email]:not(:placeholder-shown) ~ label:before {
	font-size: 12px;
	bottom: 44px;
	color: var(--third);
}

/* END EMAIL INPUT */

.form-item label:before {
	content: attr(data-label);
	display: block;
	position: absolute;
	left: 0;
	bottom: 6px;
	transition: all 0.15s ease-in-out;
}

.form-item label:after {
	content: "";
	position: absolute;
	display: inline-flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transition: all 0.4s ease-in-out;
	background-position: 50%;
	background-size: 200% 200%;
}

/* BUTTON */

.btn {
	margin-top: 40px;
	width: 82%;
	text-align: center;
	cursor: pointer;
	height: 50px;
	background-color: transparent;
	border-radius: 2px;
	font-size: 20px;
	transition: 700ms linear;
}

.btn:hover {
	background: #f7f1e3;
	color: var(--bg-color);
	font-weight: 600;
}

.btn-send {
	vertical-align: middle;
	line-height: 50px;
}

/* Social buttons */

.group {
	font-size: 20px;
}

.group p {
	display: flex;
}

.icon-social {
	font-size: 35px;
}

.mr-7 {
	margin-right: 18px;
}

/* INICIO NAV MOBILE */
.menu-burguer {
	width: 56px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	right: 40px;
	top: 30px;
	position: absolute;
}

.mini-nav{
	display: block;
	
}

.menu-line {
	height: 6px;
	background-color: #fff;
	border-radius: 3px;
	transition: all 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.menu-line:first-child {
	animation: firstLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
}

.open .menu-line:first-child {
	animation: firstLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
	animation-fill-mode: forwards;
}

@keyframes firstLinetoOpen {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(12px);
	}

	100% {
		transform: translateY(17px) rotate(45deg);
	}
}

@keyframes firstLinetoClose {
	0% {
		transform: translateY(17px) rotate(0);
	}

	100% {
		transform: translateY(0);
	}
}

.open .menu-line:nth-child(2) {
	opacity: 0;
}

.menu-line:last-child {
	animation: lastLinetoClose 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
}

.open .menu-line:last-child {
	animation: lastLinetoOpen 240ms cubic-bezier(0.23, 0.95, 0.58, 1.37);
	animation-fill-mode: forwards;
}

@keyframes lastLinetoOpen {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-12px);
	}

	100% {
		transform: translateY(-17px) rotate(-45deg);
	}
}

@keyframes lastLinetoClose {
	0% {
		transform: translateY(-17px);
	}

	100% {
		transform: translateY(0);
	}
}

/* FIN NAVMOBILE*/

/* UP BUTTON */

	.up-button{
		position: fixed;
		z-index: 3;
		width: 60px;
		height: 60px;
		background-color: #f7f1e3;
		color: var(--third);
		font-size: 2.3rem;
		border-radius: 60px;
		outline-style: none;
		border: none;
		bottom: 40px;
		right: 40px;
	}

/* END UP BUTTON */

/* MEDIAQUERIES */
@media (max-width: 767px) {
	#logo {
		margin-left: 20px;
	}

	.header {
		margin-top: 30px;
		margin-bottom: 0px;
		padding: 10px;
		font-size: 3.5rem;
	}

	.subheader {
		font-size: 40px;
		margin-bottom: 12px;
	}

	.text-paragraph {
		font-size: 1.5rem;
		padding-right: 10px;
	}

	.divider {
		display: none;
	}

   
	.navbar-mobile {
		width: 84%;
	}

	.nav-item {
		display: block;
	}

	.active {
		border-color: var(--bg-color);
		border-width: 3px;
	}

	#list-skills {
		display: block;
	}

    .menu-burguer {
		top: 30px;
		right: 10px;
		position: absolute;
	}

	.form-item input[type=text] {
		width: 90%;
		display: block;
	}

    .form-item input[type=email] {
		width: 90%;
		display: block;
	}

	.form-item input[type=text]:focus ~ label:after {
		width: 93%;
	}

	.form-item input[type=email]:focus ~ label:after {
		width: 93%;
	}

    #burger{
        position: relative;
 
    }
}


@media (min-width: 768px) {
	#nav-large {
		display: block;
	}

	.menu-burguer{
		display: none;
	}
}


@media (min-width: 992px) {
	#nav-large {
		display: block;
	}
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
